 @import "mixin.scss";
body {
        padding:30px 50px;
	@include desk(){
	// padding: 50px 100px;
	font-size: 20px;
	
	background-color: lightgrey;
	}
}
* {
	box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}
.product {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:20px;
	margin-top: 30px;

	@include desk(){
	padding: 30px;
	margin: auto;
	margin-top: 70px;
	width: 1200px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #ffff;

	
	&-card__description {
		
                
		@include desk(){
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 10px;
		}
	}
	&-card__title {
		
		margin-bottom: 10px;
	}
	&-card__img-wrapper {
		display: flex;
		justify-content: center;
		margin-bottom: 10px;
	}
	
	&-card {
		position: relative;
		min-width: 150px;
		
		&__sale{
			position: absolute;
			top: 0;
			left: 70px;
			background-color:lightblue ;
			padding: 5px;
			border-radius: 5px;
		}
	}
	
}
}
.nav-block {
	display: flex;
	justify-content: space-around;
}
.navigation__container {
	display: flex;


	&__select {
		border: none;
		background-color: lightgrey;
	}

	
	
}
